<a href="https://colab.research.google.com/github/bibilka/Big-Data-processing-technologies/blob/main/laba1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount ("/content/drive")

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pd.read_csv(filepath_or_buffer = "/content/drive/MyDrive/sp500.csv", sep=",")

    Symbol  ...                                        SEC Filings
0      MMM  ...  http://www.sec.gov/cgi-bin/browse-edgar?action...
1      ABT  ...  http://www.sec.gov/cgi-bin/browse-edgar?action...
2     ABBV  ...  http://www.sec.gov/cgi-bin/browse-edgar?action...
3      ACN  ...  http://www.sec.gov/cgi-bin/browse-edgar?action...
4      ACE  ...  http://www.sec.gov/cgi-bin/browse-edgar?action...
..     ...  ...                                                ...
495   YHOO  ...  http://www.sec.gov/cgi-bin/browse-edgar?action...
496    YUM  ...  http://www.sec.gov/cgi-bin/browse-edgar?action...
497    ZMH  ...  http://www.sec.gov/cgi-bin/browse-edgar?action...
498   ZION  ...  http://www.sec.gov/cgi-bin/browse-edgar?action...
499    ZTS  ...  http://www.sec.gov/cgi-bin/browse-edgar?action...

[500 rows x 15 columns]

In [ ]:
pd.read_csv(filepath_or_buffer = "/content/drive/MyDrive/sp500.csv", sep=",", nrows=3)

  Symbol  ...                                        SEC Filings
0    MMM  ...  http://www.sec.gov/cgi-bin/browse-edgar?action...
1    ABT  ...  http://www.sec.gov/cgi-bin/browse-edgar?action...
2   ABBV  ...  http://www.sec.gov/cgi-bin/browse-edgar?action...

[3 rows x 15 columns]

In [ ]:
pd.read_csv(
    filepath_or_buffer = "/content/drive/MyDrive/sp500.csv", 
    sep=",", 
    nrows =3, 
    usecols=['Symbol', 'Sector', 'Price', 'Book Value']
  )

  Symbol       Sector   Price  Book Value
0    MMM  Industrials  141.14      26.668
1    ABT  Health Care   39.60      15.573
2   ABBV  Health Care   53.95       2.954

In [ ]:
pd.read_csv(
    filepath_or_buffer = "/content/drive/MyDrive/sp500.csv", 
    sep=",", 
    nrows =3, 
    usecols=['Symbol', 'Sector', 'Price', 'Book Value'],
    index_col='Symbol'
  )

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABT     Health Care   39.60      15.573
ABBV    Health Care   53.95       2.954

In [ ]:
df_chunk = pd.read_csv(
    filepath_or_buffer = "/content/drive/MyDrive/sp500.csv", 
    sep=",", 
    chunksize = 50, 
    usecols=['Symbol', 'Sector', 'Price', 'Book Value'],
    index_col='Symbol'
  )

In [ ]:
for df_tmp in df_chunk:
  print("Dateframe part: ", df_tmp.shape)

Dateframe part:  (50, 3)
Dateframe part:  (50, 3)
Dateframe part:  (50, 3)
Dateframe part:  (50, 3)
Dateframe part:  (50, 3)
Dateframe part:  (50, 3)
Dateframe part:  (50, 3)
Dateframe part:  (50, 3)
Dateframe part:  (50, 3)
Dateframe part:  (50, 3)

In [ ]:
sp500 = pd.read_csv(
    filepath_or_buffer = "/content/drive/MyDrive/sp500.csv", 
    sep=",", 
    usecols=['Symbol', 'Sector', 'Price', 'Book Value'],
  )